@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'global-styles.scss';
@import 'header-styles.scss';
@import 'footer-styles.scss';
@import 'newsletter-styles.scss';
@import 'concept-styles.scss';
@import 'cave-styles.scss';
@import 'boxMois-styles.scss';
@import 'abonnement-styles.scss';
@import 'heroHeader-styles.scss';
@import 'siteAccess-styles.scss';
@import 'productPage-styles.scss';  
@import 'headband-styles.scss';
@import 'list-article-styles.scss';
@import 'blog-styles.scss';
 

@font-face {
    font-family: "MolgakFont";
    src: url("./MolgakFont.woff") format("woff"),
    url("./MolgakFont.woff2") format("woff2")
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    main{
        padding-top: 10rem;
    }
}

p, li {
    line-height: initial;
}

a {
    font-size: var(--subtitle);
    text-decoration: none;
    color: $green;

    &:hover {
        text-decoration: underline;
    }
}

*, html, body {
    box-sizing: border-box;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}